body {
  background-color: rgb(0, 0, 0);
}

h1 {
  color: rgb(0, 20, 239);
  text-align: center;
}

h2 {
  color: #62ff00;
  text-align: center;
}

.play {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid blue;
  height: 10em;
}

.count {
  display: flex;
  align-items: center;
  justify-content: center;
}

.count > h2 {
    padding: 10px;
    color: rgb(32, 149, 245);
}

button {
  margin: 20px;
  padding: 5px 10px;
  border-radius: 8px;
  background-color: #f0f0f000;
  box-sizing: border-box;
  height: 80px;
  width: 150px;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}


button:hover {
  transform: translateY(-1px);
  background-color: #1e00ff2d;
}

.reset > button{
  background-color: rgb(254, 128, 128);
  border: 1px solid rgb(254, 128, 128);
}
#reset-button:hover {
  transform: translateY(-1px);
  background-color: red;
}

#result-declaration {
  color: rgb(0, 155, 239);
  text-align: center;
}

#user-choice {
  color: rgb(100, 239, 0);
  text-align: center;
}
