.button-1 {
  color: rgb(0, 12, 244);
}

.button-2 {
  background-color: #cbff7e;
  border-radius: 15px;
  border: none;
  padding: 5px 15px;
  /* width: 85px;
    height: 30px; */
}

.button-3 {
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px 35px;
  /* width: 130px;
    height: 30px; */
}
