.button-1 {
  background-color: #96ff7e;
  border-radius: 15px;
  border: none;
  padding: 5px 15px;
}

.button-2 {
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px 35px;
  text-transform: uppercase;
}
